.estado{
    width: inherit !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(100, 100, 100,.1);
    color: rgba(100, 100, 100, .7);
    padding: 1em 0em;
} 
.icon{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5em;                
}   
.texto{
    height: 50%;
    padding-top: .5em;
}     
@keyframes rotar{
    to{
        transform: rotate(360deg);            
    }
} 
.rotar{
    animation: rotar 1s ease-in-out infinite;
} 
.control_permisos{        
    display:none;        
    width: 100%;
    padding: .5em .5em;                
}